<%- include('../partials/head') %>

    <body>
        <header>
            <%- include('../partials/nav') %>
        </header>

        <div>
            <ul>
                <% if (locals.errors) { %>
                    <% locals.errors.forEach((error)=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <%})%>
                            <%} %>
            </ul>
        </div>

        <div class="container">

            <form class="dark-form" action="/manhwa/add" method="POST">
                <h2>Add Manhwa</h2>
                <div>
                    <div>
                        <div class="form-group priCol">
                            <label for="name_manhwa">Name</label>
                            <input type="text" id="name_manhwa" name="name_manhwa"
                                value="<%= locals.newManhwa ? locals.newManhwa.name_manhwa : '' %>">
                        </div>
                        <div class="form-group priCol">
                            <label for="description">Description</label>
                            <input type="text" id="description" name="description" maxlength="600"
                                value="<%= locals.newManhwa ? locals.newManhwa.description : '' %>">

                        </div>
                        <div class="form-group priCol">
                            <label for="caps">Caps</label>
                            <input type="number" id="caps" name="caps"
                                value="<%= locals.newManhwa ? locals.newManhwa.caps : '' %>">

                        </div>
                        <div class="form-group priCol">
                            <label for="urlImage">Url</label>
                            <input type="text" id="urlImage" name="urlImage"
                                value="<%= locals.newManhwa ? locals.newManhwa.urlImage : '' %>">

                        </div>
                        <div class="form-group priCol">
                            <label for="passManhwa">Password</label>
                            <input type="password" id="passManhwa" name="passManhwa">

                        </div>
                    </div>
                    <div>
                        <div class="form-group author-selectF">
                            <label for="author">Author</label>
                            <select name="author" id="author-select">
                                <option value="">Select a author</option>
                                <% locals.authors.forEach(author=> { %>
                                    <option value="<%= author.id %>" <%=locals.newManhwa ?
                                        author.id===locals.newManhwa.author ? 'selected' : '' : '' %>>
                                        <%= author.name_author %>
                                    </option>
                                    <% }); %>
                            </select>
                            <a href="/author/add" type="button" class="btn btn-outline">Add author</a>
                        </div>

                        <div class="form-group tags-selectF">
                            <label for="urlImage">Tags</label>
                            <select name="tags" id="tags-select" multiple>
                                <% locals.tags.forEach((tag)=> { %>
                                    <option value="<%= tag.id %>" <%=locals.newManhwa ?
                                        locals.newManhwa.tags.includes(tag.id) ? 'selected' : false: false %>>
                                        <%= tag.name_tag %>
                                    </option>
                                    <%})%>
                            </select>
                            <a href="/tags/add" type="button" class="btn btn-outline">Add tags</a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary doubCol">Add Manhwa</button>
            </form>

        </div>
    </body>

    <%- include('../partials/footer') %>