<%- include('../partials/head') %>

    <body>
        <header>
            <h1>Inventory Application</h1>
        </header>

        <div>
            <ul>
                <% if (locals.errors) { %>
                    <% locals.errors.forEach((error)=> { %>
                        <li>
                            <%= error.msg %>
                        </li>
                        <%})%>
                            <%} %>
            </ul>
        </div>

        <div class="container">

            <form class="dark-form" action="/manhwa/add" method="POST">
                <h2>Add Manhwa</h2>
                <div>
                    <div>
                        <div class="form-group priCol">
                            <label for="name_manhwa">Name</label>
                            <input type="text" id="name_manhwa" name="name_manhwa">
                        </div>
                        <div class="form-group priCol">
                            <label for="description">Description</label>
                            <input type="text" id="description" name="description">

                        </div>
                        <div class="form-group priCol">
                            <label for="caps">Caps</label>
                            <input type="number" id="caps" name="caps">

                        </div>
                        <div class="form-group priCol">
                            <label for="urlImage">Url</label>
                            <input type="text" id="urlImage" name="urlImage">

                        </div>
                        <div class="form-group priCol">
                            <label for="passManhwa">Password</label>
                            <input type="text" id="passManhwa" name="passManhwa">

                        </div>
                    </div>
                    <div>
                        <div class="form-group author-select">
                            <label for="author">Author</label>
                            <select name="author" id="author-select">
                                <option value="">Select a author</option>
                                <% locals.authors.forEach(author=> { %>
                                    <option value="<%= author.id %>">
                                        <%= author.name_author %>
                                    </option>
                                    <% }); %>
                            </select>
                            <a href="/author/add" type="button" class="btn btn-outline">Add author</a>
                        </div>

                        <div class="form-group tags-select">
                            <label for="urlImage">Tags</label>
                            <select name="tags" id="tags-select" multiple>
                                <% locals.tags.forEach((tag)=> { %>
                                    <option value="<%= tag.id %>">
                                        <%= tag.name_tag %>
                                    </option>
                                    <%})%>
                            </select>
                            <a href="/tags/add" type="button" class="btn btn-outline">Add tags</a>
                        </div>
                    </div>
                </div>





                <button type="submit" class="btn btn-primary doubCol">Add Manhwa</button>
            </form>

        </div>
    </body>
    <script>
        function openModal(modalId) {
            document.getElementById(modalId).style.display = 'block';
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = 'none';
        }

        // Cierra el modal al hacer clic fuera de él
        window.onclick = function (event) {
            const modal = document.getElementById('addModal');
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        };
    </script>
    <%- include('../partials/footer') %>