<%- include('../partials/head') %>

    <body>
        <header>
            <h1>Inventory Application</h1>
            <%- include('../partials/nav') %>
        </header>

        <main>

            <div class="containerCard">
                <% locals.manhwas.forEach(manhwa=> { %>
                    <a href="/manhwa/<%= manhwa.id %>">
                        <div class="manhwa-card">
                            <div class="manhwa-card-header">

                                <img src="<%= manhwa.url_img %>" alt="<%= manhwa.title %>" class="manhwa-card-image">
                            </div>

                            <div class="manhwa-card-content">
                                <h2>
                                    <%= manhwa.title %>
                                </h2>
                                <p>
                                    <%= manhwa.description %>
                                </p>
                            </div>
                            <div class="manhwa-card-footer">
                                <span className="manhwa-card-chapters">
                                    <%= manhwa.caps %> chapters
                                </span>

                            </div>



                        </div>
                    </a>
                    <% }); %>
            </div>
            <div class="container">

                <a href="/manhwa/add" class="btn btn-outline">New manhwa</a>
                <a href="/author/add" class="btn btn-outline">New author</a>
            </div>
        </main>
    </body>

    <%- include('../partials/footer') %>